# See `Deploy via Cloud.gov` section in README.md for instructions on using this file
# https://docs.cloudfoundry.org/devguide/deploy-apps/manifest.html

applications:
- name: heimdall2 # Rename for your deployment
  memory: 512m
  disk_quota: 2g
  instances: 1
  stack: cflinuxfs3
  timeout: 120
  command: |
    export DATABASE_HOST=$( echo $VCAP_SERVICES | jq -r '.system_env_json.VCAP_SERVICES["aws-rds"][].credentials.host') && \
    export DATABASE_NAME=$( echo $VCAP_SERVICES | jq -r '.system_env_json.VCAP_SERVICES["aws-rds"][].credentials.db_name') && \
    export DATABASE_PASSWORD=$( echo $VCAP_SERVICES | jq -r '.system_env_json.VCAP_SERVICES["aws-rds"][].credentials.password') && \
    export DATABASE_PORT=$( echo $VCAP_SERVICES | jq -r '.system_env_json.VCAP_SERVICES["aws-rds"][].credentials.port') && \
    export DATABASE_USERNAME=$( echo $VCAP_SERVICES | jq -r '.system_env_json.VCAP_SERVICES["aws-rds"][].credentials.username') && \
    export JWT_SECRET=$(node -p "crypto.randomBytes(64).toString('hex')") && \
    /usr/local/bin/cmd.sh
  docker:
    image: mitre/heimdall2:release-latest
  services:
    - heimdall2-db # Rename for your deployment
  env:
    NODE_ENV: production
    ADMIN_PASSWORD: ChangeMe@123
    # See /apps/backend/.env-example for use of the following
    #GITHUB_CLIENTID:
    #GITHUB_CLIENTSECRET:
    #GITLAB_CLIENTID:
    #GITLAB_CLIENTSECRET:
    #GOOGLE_CLIENTID:
    #GOOGLE_CLIENTSECRET:
    #OKTA_DOMAIN:
    #OKTA_CLIENTID:
    #OKTA_CLIENTSECRET:
    #OIDC_NAME:
    #OIDC_ISSUER:
    #OIDC_AUTHORIZATION_URL:
    #OIDC_TOKEN_URL:
    #OIDC_USER_INFO_URL:
    #OIDC_CLIENTID:
    #OIDC_CLIENT_SECRET:
    LDAP_ENABLED: false
    #LDAP_HOST:
    #LDAP_PORT:
    #LDAP_BINDDN:
    #LDAP_PASSWORD:
    #LDAP_SEARCHBASE:
    #LDAP_SEARCHFILTER:
    #LDAP_NAMEFIELD:
    #LDAP_MAILFIELD:

