.DS_Store
node_modules
/dist
dist/**

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Don't accidentally commit sensitive data
# You can still commit these manually
tests/hdf_data/raw_data/
tests/hdf_data/inspec_tools_info

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
