# common ignore file for directories
.cache
.DS_Store
node_modules
/dist
dist/**
mitre-heimdall-lite*.tgz

# local environment files
.env.local
.env.*.local

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Do not accidentally commit sensitive data
# You can still commit these manually
tests/hdf_data/raw_data/
tests/hdf_data/inspec_tools_info

# Code Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# HTML Export Stylesheet/Dependency
public/static/export/template.html
public/static/export/style.css
public/static/export/tw-elements.min.js

#
