.mono {
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  text-align: left;
  text-justify: inter-word;
}
