name: Auto approve and Merge Dependabot PRs
on:
  pull_request_target:
    types: [labeled]
permissions:
  pull-requests: write
  contents: write

jobs:
  approve:
    name: Auto-approve dependabot PRs
    if: github.event.pull_request.user.login == 'dependabot[bot]' && contains(github.event.pull_request.labels.*.name, 'dependencies')
    runs-on: ubuntu-22.04
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: hmarr/auto-approve-action@v3
        with:
          github-token: '${{ secrets.GITHUB_TOKEN }}'
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
