name: Run Backend Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-24.04
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "22"
          check-latest: true
          cache: 'yarn'

      - name: Remove frontend code to ensure the proper dependencies are declared in the backend package.json
        run: rm -rf apps/frontend

      - name: Install project dependencies
        run: yarn backend install --frozen-lockfile

      - name: Copy .env-ci to .env
        run: cp apps/backend/test/.env-ci apps/backend/.env

      - name: Create/migrate db
        run: |
          yarn backend sequelize-cli db:create
          yarn backend sequelize-cli db:migrate

      - name: Run unit tests
        run: yarn backend test

      - name: Ensure the app builds cleanly without frontend dependencies
        run: yarn backend build
