name: Run Backend Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-20.04
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432

    steps:
     - uses: actions/checkout@v2

     - name: Cache node modules
       uses: actions/cache@v2
       env:
         cache-name: cache-node-modules
       with:
         # npm cache files are stored in `~/.npm` on Linux/macOS
         path: ~/.npm
         key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
         restore-keys: |
           ${{ runner.os }}-build-${{ env.cache-name }}-
           ${{ runner.os }}-build-
           ${{ runner.os }}-

     - name: Setup Node.js
       uses: actions/setup-node@v1
       with:
        node-version: '14.x'

     - name: Remove frontend code to ensure the proper dependencies are declared in the backend package.json
       run: rm -rf apps/frontend

     - name: Install project dependencies
       run: yarn install --frozen-lockfile

     - name: Copy .env-ci to .env
       run: cp apps/backend/test/.env-ci apps/backend/.env

     - name: Create/migrate db
       run: |
        yarn backend sequelize-cli db:create
        yarn backend sequelize-cli db:migrate

     - name: Run unit tests
       run: yarn backend test:ci-cov

     - name: Test that user registration is disabled when explicitly set
       run: yarn backend test:ci-cov apps/backend/src/authn/authn.controller.spec.ts
       env:
         REGISTRATION_DISABLED: true

     - name: Ensure the app builds cleanly without frontend dependencies
       run: yarn backend build
