name: Run E2E Backend + Frontend Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-22.04
    env:
      CYPRESS_TESTING: true
      NODE_ENV: test
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
      ldap:
        image: rroemhild/test-openldap
        ports:
          - 10389:10389
      splunk:
        image: splunk/splunk
        volumes:
          - /$(pwd)/test/configs/splunk/server.conf:/etc/system/local/server.conf
        ports:
          - 8089:8089
        env:
          SPLUNK_START_ARGS: --accept-license
          SPLUNK_PASSWORD: Valid_password!

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'

      - name: Install project dependencies
        run: yarn install --frozen-lockfile

      - name: Copy .env-ci to .env
        run: cp apps/backend/test/.env-ci apps/backend/.env

      - name: Create/migrate db
        run: |
          yarn backend sequelize-cli db:create
          yarn backend sequelize-cli db:migrate
          yarn backend sequelize-cli db:seed:all

      - name: Build Heimdall
        run: yarn build
        env:
          NODE_ENV: production # want to install dev deps like cypress but test against the prod build of Heimdall

      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          start: yarn start, yarn run cypress-test mock-json, yarn run cypress-test mock-openid
          wait-on: 'http://127.0.0.1:3000, http://127.0.0.1:3001'

      - name: Upload test screenshots and videos
        if: failure()
        uses: actions/upload-artifact@master
        with:
          name: cypress-recording
          path: |
            test/screenshots
            test/videos
