name: Run E2E Backend + Frontend Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-20.04
    env:
      CYPRESS_TESTING: true
      NODE_ENV: test
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
      ldap:
        image: rroemhild/test-openldap
        ports:
          - 10389:10389
      localstack:
        image: localstack/localstack:latest
        ports:
          - 4566:4566
          - 4571:4571
        env:
          AWS_ACCESS_KEY_ID: localkey
          AWS_SECRET_ACCESS_KEY: localsecret
          AWS_DEFAULT_REGION: us-east-1
          SERVICES: s3

    steps:
      - uses: actions/checkout@v2

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"

      - name: Install project dependencies
        run: yarn install --frozen-lockfile

      - name: Copy .env-ci to .env
        run: cp apps/backend/test/.env-ci apps/backend/.env

      - name: Create/migrate db
        run: |
          yarn backend sequelize-cli db:create
          yarn backend sequelize-cli db:migrate
          yarn backend sequelize-cli db:seed:all

      - name: Build Heimdall
        run: yarn build
        env:
          NODE_ENV: production

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::123456789100:role/github-actions-role

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          start: yarn start, yarn run cypress-test mock-oauth, yarn run cypress-test mock-openid
          wait-on: 'http://127.0.0.1:3000, http://127.0.0.1:3001'

      - name: Upload test screenshots and videos
        if: failure()
        uses: actions/upload-artifact@master
        with:
          name: cypress-recording
          path: |
            test/screenshots
            test/videos
