name: Run Frontend Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-20.04
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432

    steps:
     - uses: actions/checkout@v2

     - name: Cache node modules
       uses: actions/cache@v2
       env:
         cache-name: cache-node-modules
       with:
         # npm cache files are stored in `~/.npm` on Linux/macOS
         path: ~/.npm
         key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
         restore-keys: |
           ${{ runner.os }}-build-${{ env.cache-name }}-
           ${{ runner.os }}-build-
           ${{ runner.os }}-

     - name: Setup Node.js
       uses: actions/setup-node@v1
       with:
        node-version: '14.x'

     - name: Remove backend code to ensure the proper dependencies are declared in the frontend package.json
       run: rm -rf apps/backend

     - name: Install project dependencies
       run: yarn install --frozen-lockfile

     - name: Run frontend tests
       run: yarn frontend test

     - name: Ensure the app builds cleanly without backend dependencies
       run: yarn frontend build
