name: Deploy to GitHub Pages
on:
  release:
    types: [published]

jobs:
  build-deploy:
    runs-on: ubuntu-22.04
    env:
      NODE_ENV: production
    steps:
      - uses: actions/checkout@v3

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'

      - name: Install project dependencies
        run: yarn frontend install --frozen-lockfile --production

      - name: Build Heimdall Lite
        run: yarn frontend build

      - name: Write Heimdall-Lite CNAME file
        run: 'echo "heimdall-lite.mitre.org" > ./dist/frontend/CNAME'

      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist/frontend
