name: Deploy to GitHub Pages
on:
  release:
    types: [published]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'
          cache: 'yarn'

      - name: Install project dependencies
        run: yarn frontend install --frozen-lockfile

      - name: Build Heimdall Lite
        run: yarn frontend build --mode development

      - name: Write Heimdall-Lite CNAME file
        run: 'echo "heimdall-lite.mitre.org" > ./dist/frontend/CNAME'

      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist/frontend
