name: Run HDF-Converters Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-20.04
  
    services:
      splunk:
        image: splunk/splunk
        volumes:
          - /$(pwd)/test/configs/splunk/server.conf:/etc/system/local/server.conf
        ports:
          - 8089:8089
          - 8088:8088
        env:
          SPLUNK_START_ARGS: --accept-license
          SPLUNK_PASSWORD: Valid_password!

    steps:
     - uses: actions/checkout@v2

     - name: Cache node modules
       uses: actions/cache@v2
       env:
         cache-name: cache-node-modules
       with:
         # npm cache files are stored in `~/.npm` on Linux/macOS
         path: ~/.npm
         key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
         restore-keys: |
           ${{ runner.os }}-build-${{ env.cache-name }}-
           ${{ runner.os }}-build-
           ${{ runner.os }}-

     - name: Setup Node.js
       uses: actions/setup-node@v1
       with:
        node-version: '14.x'

     - name: Remove frontend and backend code to ensure the proper dependencies are declared in the hdf-converters package.json
       run: |
        rm -rf apps/frontend
        rm -rf apps/backend
    
     - name: Install project dependencies
       run: |
        yarn hdf-converters install --frozen-lockfile
        yarn workspace @heimdall/cypress-tests install 
    
     - name: Start Mock Sonarqube Server
       run: yarn run cypress-test mock-json &

     - name: Run unit tests
       run: yarn hdf-converters test

     - name: Ensure the hdf-converters builds cleanly
       run: yarn hdf-converters build
