name: Run InspecJS Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
     - uses: actions/checkout@v2
     - uses: actions/setup-ruby@v1
       with:
         ruby-version: '2.7.4'

     - name: Cache node modules
       uses: actions/cache@v2
       env:
         cache-name: cache-node-modules
       with:
         # npm cache files are stored in `~/.npm` on Linux/macOS
         path: ~/.npm
         key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
         restore-keys: |
           ${{ runner.os }}-build-${{ env.cache-name }}-
           ${{ runner.os }}-build-
           ${{ runner.os }}-

     - name: Setup Node.js
       uses: actions/setup-node@v1
       with:
        node-version: '14.x'

     - name: Remove frontend and backend code to ensure the proper dependencies are declared in the inspecjs package.json
       run: |
        rm -rf apps/frontend
        rm -rf apps/backend

     - name: Install project dependencies
       run: yarn inspecjs install --frozen-lockfile

     - name: Run unit tests
       run: yarn inspecjs test
    
     - name: Validate there are no changes between the generated parsers
       run: |
        gem install inspec-bin -v 4.38.3
        inspec schema exec-json > libs/inspecjs/schemas/exec-json.json
        inspec schema exec-jsonmin > libs/inspecjs/schemas/exec-jsonmin.json
        inspec schema profile-json > libs/inspecjs/schemas/profile-json.json
        yarn inspecjs gen-types
        yarn inspecjs validates-types

     - name: Ensure the app builds cleanly without frontend and backend dependencies
       run: yarn inspecjs build
